body {
    background: #272822;
    color: white;        
}
input, select {
    background: #434340!important;
    color: white;
    border: 1px solid #333!important;
}
li { 
    list-style: none;
    margin-bottom: 2px;
}
.bigfont {
    font-size: 2em;
}
.bigfont optgroup {
    font-size: 12px;
}
.teamselect {
    width: 400px;
    height: 50px;
    font-weight: bold;
    margin: 10px auto 20px auto;
}
.form-control {
    padding: 5px 4px;
    color: white;
}
.form-control.division {
    width: 180px;
}
.form-control.attendance {
    width: 121px;
}
.form-control.rank {
    width: 50px;
}
.form-control.color {
    width: 85px;
    font-size: 0.8em;
}
.form-control.rank, .form-control.derby {
    width: 50px;
}
.form-control.inline {
    display: inline-block;
}
.name, .date, .nation, .skill, .development, .side {
    display: inline-block;
    font-size: 0.9em;
    text-align: center;
}
.name {
    width: 120px;
}
.date, .nation {
    width: 85px;
}
.skill {
    width: 24px;
}
.development {
    width: 65px;
    padding: 0;
}
.side {
    width: 63px;
    padding: 0;
}
.kp,.ta,.ps,.sh {
    font-weight: bold;
}
.kp input, .kp select {
    color: #999;
}
.ta input, .ta select {
    color: #fffb96;
}
.ps input, .ps select {
    color: #0EFF96;
}
.sh input, .sh select {
    color: #fff;
}
button.unclip {
	display: none;
}
.title {
    font-size: 2em;
    font-weight: bold;
}
.modal-content {
	background: #272822;
}
li.clipboard > input, li.clipboard > select {
	background: red!important;
	color: white!important;
}
li.clipboard > button {
	display: none;
}
li.clipboard > button.unclip {
	display: inline-block;
}
input[type=number].skill::-webkit-inner-spin-button, 
input[type=number].skill::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}