<div class="row" style="margin-bottom: 30px">
    <div class="col-xs-12 text-center">
        <img src="img/title.png">
        <h1><b>USM UPDATER</b></h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-12 text-center">
        <input style="display: none" id="dir" type="file" id="dir" class="filestyle form-control" style="width: 600px;" fileread="directory" webkitdirectory data-buttonText="Find directory" ng-model="directory">
        <form class="form-inline">
            <button onclick="$('#dir').click()" class="btn btn-default" id="offbut">Choose DATA01 directory</button>
            <input style="width: 300px" type="text" class="form-control" readonly value="{{directory.path}}">
        </form>
        <button class="btn btn-success bigfont" ng-click="toEditor()" style="margin-top: 2em">Start Editing</button>
    </div>
</div>
<script>
</script>
    
